body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    /*background-image: url(img/0.webp);*/
}
.opaque { /* 背景画を隠す為の 柱状(半透明)ブラインドの定義 */
	background: rgba(255,192,192);
	height: 100%;
    position: absolute;
    user-select: none;
	z-index: 50; /* ブラインドのz位置 : 背景画よりは 手前に、落ちる文字列よりは背面に */
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}
#score { position: absolute; top: 8px;  left: 10px; font-size: 24px; background-color: #ddf; z-index: 200;}
#life  { position: absolute; top: 42px; left: 10px; font-size: 24px; background-color: #efd; z-index: 200;}
#word  { position: absolute; top: 8px; left: 360px; font-size: 48px; color: #3df; background-color: #511; z-index: 200;}
#word2 { position: absolute; top: 8px; left: 300px; font-size: 32px; color: #243; background-color: #faf; z-index: 200;} /* 入力途中アルファベット表示用 */
.letter {
    position: absolute;
    font-size: 32px;
    font-weight: bold;
    user-select: none;
    z-index: 100;
}
.letterBase {
    position: absolute;
    color: #0d0; /* 緑色 */
    background: rgba(110,100,200,0.5);
    z-index: 101;
}
.letterMatch {
    position: absolute;
    color: #901; /* 赤色 */
    z-index: 102;
}
/*
@keyframes fall {
    to { transform: translateY(100vh); }
}
*/
